@media(max-width:992px) {
    .clients-info-text p {
        font-size: 15px;
    }
    .slid h1 {
        font-size: 39px;
    }
    .slid p {
        width: 80%;
    }
    .finix-text h2 {
        font-size: 30px;
    }
}
@media (max-width:768px){
    .align-items-center {
        justify-content: space-between;
        margin: 10px auto;
    }
}
